@import url("https://fonts.googleapis.com/css2?family=Iceberg&family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
.main {
  width: 100%;
  height: 100vh;
  background-image: url("https://thumbs.dreamstime.com/b/female-hands-typing-laptop-keyboard-office-43531394.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: -100px;
}

.title {
  background-color: transparent;
  font-size: 30px;
  text-align: center;
  font-size: 50px;
  transform: translateY(20vh) rotateX(-30deg);
  transition: 0.6s ease;
  font-family: "Iceberg", sans-serif;
  letter-spacing: 4px;
  color: rgb(112, 65, 9);
}
