@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");
.main {
  background-color: var(--color2);
  /* height: 90vh; */
  display: flex;
  justify-content: center;
}

.container {
  width: 800px;
  height: 650px;
  margin: 150px auto;
  border-radius: 18px;
  background-color: #24556c;
}

.imageContainer {
  display: flex;
  justify-content: center;
  height: 0;
}

.profileImage {
  border-radius: 50%;
  transform: translateY(-100px);
  border: 8px solid #24556c;
  transition: transform 0.9s ease;
}

.hr {
  margin: 150px auto 20px auto;
  width: 80%;
  height: 3px;
  background-color: #70817d;
  border-radius: 3px;
  transition: all 0.84s ease-in-out;
}

.statistics {
  width: 90%;
  height: 200px;
  margin: auto;
  border-radius: 10px;
  background-color: #206e76;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item {
  width: 80%;
  height: 80%;
  margin: auto;
  border-radius: 5px;
  background-color: #0f6a74;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  user-select: none;
  cursor: pointer;
}
.i {
  width: 30px;
  height: 30px;
  background-color: #0f6a74;
  /* color: var(--color2); */
  color: rgb(40, 71, 90);
}

.itemName {
  background-color: #0f6a74;
  font-size: 16px;
  font-family: "Roboto Mono", monospace;
}

.achievements {
  display: flex;
  justify-content: space-evenly;
  width: 60%;
  height: 50px;
  background-color: transparent;
  align-items: center;
}
.ac {
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: #24556c;
}
.separator {
  height: 20px;
  width: 4px;
  background-color: rgb(92, 88, 83);
  border-radius: 3px;
}

.info {
  width: 90%;
  margin: 40px auto;
  padding: 30px 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  background-color: #0877a6;
  border-radius: 12px;
}

.info h1 {
  background-color: transparent;
  color: rgb(17, 83, 61);
  font-family: "Roboto Mono", sans-serif;
}

.joined {
  background-color: transparent;
  color: #044349;
  letter-spacing: 2px;
}
