.getStarted {
  margin: 0 auto;
  transform: translateY(-33vh);
  padding: 30px 100px;
  border-radius: 10px;
  border: none;
  background-color: #07679f;
  font-size: 20px;
  &:hover {
    background-color: #177c69;
  }
}

.holder {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.goBack {
  width: 50px;
  height: 50px;
  background-color: transparent;
  color: rgb(217, 205, 183);
  position: absolute;
  top: 70px;
  left: 20px;
  &:hover {
    color: rgb(46, 22, 22);
  }
}
