.main {
  background-color: #7d84d1;
  width: 100%;
  height: 100vh;
  padding: 50px auto;
  display: flex;
  justify-content: center;
}

.container {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}

.metrics {
  height: 150px;
  width: 100%;
  background-color: #9fdcc4;
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}

.item {
  background-color: transparent;
  margin: auto;
}

.fire {
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: rgb(222, 162, 51);
}

.restart {
  background-color: transparent;
  width: 20px;
  height: 20px;
  color: rgb(204, 89, 89);
}
