.main {
  background-color: #2e5256;
  width: 100%;
  height: 100vh;
  padding: 50px auto;
  display: flex;
  justify-content: center;
}

.container {
  margin: auto 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding: 30px 20px;
  border-radius: 12px;
  background-image: linear-gradient(to right, #1d251c, #054f45);
}

.metrics {
  height: 150px;
  width: 90%;
  background-color: #9fdcc4;
  /* display: flex;
  justify-content: space-evenly;
  align-items: center; */
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  border-radius: 12px;
}

.item {
  background-color: transparent;
  margin: auto;
  font-size: 20px;
  font-family: "Roboto";
}

.fire {
  width: 20px;
  height: 20px;
  background-color: transparent;
  color: rgb(222, 162, 51);
}

.restart {
  background-color: transparent;
  width: 20px;
  height: 20px;
  color: rgb(204, 89, 89);
}

.teatArea {
  background-color: tan;
  width: 70%;
  height: 100px;
  border-radius: 10px;
  padding: 30px 20px;
  /* font-size: 20px; */
}

.keyboardImage {
  border-radius: 10px;
}
.keyboard {
  background-color: transparent;
}

.text {
  background-color: transparent;
  /* TODO find font for Dzongkha bro (DDC Uchen maybe) */
  font-family: "Roboto Mono", monospace;
  max-width: 80%;
  text-align: center;
  margin: auto;
  font-size: 18px;
}

.cover {
  width: 100%;
  height: 100%;
  background-color: #5e595099;
  border-radius: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.cover p {
  background-color: transparent;
  font-size: 30px;
  font-family: "Roboto Mono", monospace;
}
