.main {
  height: calc(100vh - 310px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: linear-gradient(#064e77, #4a3f62);
}

.container {
  /* border: 1px solid var(--color3); */
  border-radius: 10px;
}
